    *{
        margin: 0;
        padding: 0;
        font-family: monospace, sans-serif, Arial;
        text-decoration: none;
    }
    header{
        background: #777;
        box-shadow: 0px 2px 10px -3px black;
        width: 100%;
        height: 90px;
        position: fixed;
        z-index: 20;
    }
    .header-content{
        width: 1200px;
        justify-content: space-between;
        height: 100%;
        display: flex;
        margin: auto;

    }
    .logo{
        display: flex;
    }
    .logo h1{
        margin: 20px 0px 20px 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        
    }
    .logo img{
        background-color: white;
        border-radius: 50%;
        width: 75px;
        height: 80px;
        transform: rotate(-5deg);
    }
        #icon-menu,
        #close-menu{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20px;
        top: 16px;
        padding: 10px;
        font-size: 20px;
        background: #777;
        border-radius: 100%;
        color: #fff;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menu{
        height: 80px;
    }
    .menu nav {
        height: 100%;
    }
    .menu nav ul {
        height: 100%;
        display: flex;
        list-style: none;
    }

    .menu nav ul li{
        height: 100%;
        margin: 0px 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
    }
    .menu-selected:before{
        content: "";
        width: 100%;
        height: 4px;
        background: #5ACF5F;
        position: absolute;
        top: 0;
        left: 0;
        
    }
    .menu nav ul li a{
        color: #fff;
        text-decoration: none;
    }.menu nav ul li a:hover{
        color: #5ACF5F;
        transition: color 300ms;
        font-size: 17px;
    }
    .menu nav ul li a i,
    .menu nav ul li a .iconify{
        margin-right: 10px;
    }
    body{
        background: #cecece;
    }
    .ctn-search{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ctn-search .bars-search{
        width: 680px;
        border-radius: 50px;
        justify-content: center;
        display: flex;
        background: #fff;
        height: 50px;
    }
    .ctn-search #inputSearch{
        top: 50%;
        width: 600px;
        height: 30px;
        display: flex;
        position: relative;
        transform: translate(0%, -50%);
        
    }
    .ctn-search #inputSearch::placeholder{
        font-size: 18px;
    }
    .ctn-search #icon-search{
        margin: 15px 0px 0px 20px;
    }
    .ctn-search #icon-search i{
        position: relative;
        font-size: 18px;
        color: #777;
        cursor: pointer;  
        transition: all 200ms;  
    }
    .ctn-search #icon-search i:hover{
        color: #5ACF5F;
        font-size: 20px;
    }
    .ctn-games{
        max-width: 1200px;
        margin: auto;
    }
    .games{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        margin-top: 20px;
        padding: 20px;
    }
    .games .game{
        background: #fff;
        box-shadow: 0 0 20px -20px black;
        border-radius: 6px;
        overflow: hidden;
        padding-bottom: 20px;
    }
    .game .ctn-img{
        width: 100%;

    }

    .game .ctn-img img{
        width: 100%;
        height: 200px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        transition: opacity 1s;
    }
    .game .ctn-img img:hover{
        opacity: 0.6;

    }

    .game h2{
        font-size: 18px;
        margin-top: 20px;
        padding: 0px 20px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .game a{
        margin-top: 20px;
        margin-left: 20px;
        padding: 7px 40px;
        font-size: 16px;
        background: #5ACF5F;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: all 200ms;
    }

    .game a:hover{
        opacity: 0.9;
        padding: 8px 41px;
    }

    .tags{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 16px;
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 20px;
    }

    .tags li{
        list-style: none;
        font-size: 12px;
        margin: 4px;
        padding: 6px 10px;
        background: #e8e8e8;
        cursor: default;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ctn-all{
        margin-top: 120px;
    }
    .slider{
        text-align: center;
        margin: 20px;
    }
    .slider li{
    display: inline-block;
    text-align: center;
    }
    .slider li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: #777777;
        padding: 7px 12px;
        font-size: 20px;
        border-radius: 100%;
    }
    .Juego{
        max-width: 1100px;
        margin: auto;
                display: grid;
        grid-template-columns: repeat(3, 2fr);
        
    }
    .Juego img{
        height: 350px;
        width: 250px; 
        margin-right: 10px; 
        overflow: hidden;
        border-radius: 20px;
    }
    .Juego span{
        margin-top: 20px;
        margin-right: 50px;

    }
    .Juego span i{
        margin: 0px 10px;
    }
    .ctn-all p{
        width: 700px;
        margin-left: 460px;
        margin-bottom: 50px;
        position: relative;
    }
    .ctn-all iframe{
        top: 30%;
        left: 40%;
        position: absolute;
    }
    .descargar{
        left: 50%;
        position: relative;
        background: #5ACF5F;
        text-decoration: none;
        padding: 12px 50px;
        color: #fff;
        border-radius: 6px;
        top: -20px;
        
    }
    .descargar:hover{
        font-size: 18px;
        padding: 14px 52px;
        transition: all 600ms;
    }
    /*footer*/
    footer{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
    footer i{
        background: #f8f8f8;
        padding: 15px 16px;
        border-radius: 50%;
        font-size: medium;
        color: #858585;
            transition: all 600ms;
    }
    footer .fa-instagram:hover{
        padding: 16px 17px;
        background:linear-gradient(#F5D222, #E90006, #B200AE);
        color: #fff;
    }
    footer .fa-facebook-f:hover{
        color: #fff;
        padding: 16px 17px;
        background: #1900ff;
    }
    footer .fa-youtube:hover{
            color: #fff;
        padding: 16px 17px;
        background: #ff0000;
    }
    .selector{
        right: 2px;
        position: absolute;
        top: 230px;
        height: auto;
        padding: 10px;
        background: #777;
        border-radius: 6px;
    }
    .selector span{
        font-size: 17px;
        font-family: monospace, Arial, sans-serif;
        display: inherit;
        margin-bottom: 10px;
    }
    .select{
        width: 300px;
        height: 30px;
        background: #e9e8e8;
        border-radius: 3px;
        font-size: 17px;
        grid-gap: 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: 10px;
    }
    /*Responsive*/
    @media screen and (max-width: 3000px){
        #icon-menu,
        #close-menu{
        display: none;
        }
    }

    @media screen and (max-width: 1200px){
        #icon-menu,
        #close-menu{
        display: none;
        }
        .games{
        grid-template-columns: repeat(4, 1fr);
        }
        .menu nav ul li a i,
    .menu nav ul li a .iconify{
        margin-right: 0px;
    }
        .header-content{
            max-width: 1000px;
            padding: 0 0px;
        }
        
    }
    @media screen and (max-width: 800px){
        .games{
        grid-template-columns: repeat(3, 1fr);
        }

    #icon-menu:hover{
        opacity: 0.8;
        font-size: 22px;
    }
    #icon-menu{
            display: flex;
        }

        #container-all-menu{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        background: rgba(0,0,0,0.5);
        z-index: 7;
        transition: all 500ms;
        left: -100%
        }
        .menu{
            width:0px;
            height: 100vh;
            position: fixed;
            top: 80px;
            left: 0;
            transform: translateX(-350px);
            background: #777;
            overflow: hidden;
            box-shadow: 5px 20px 20px -4px black;
            transition: all 300ms cubic-bezier(1,0,0,1);
        }
        
        .show-lateral {
            width: 300px;
            transform: translateX(0px);
        }
        .menu nav ul {
            flex-direction: column;
        }
        .menu nav ul li{
            max-width: 200px;
            height: 50px;
            justify-content: flex-start;
        }
        .menu-selected:before{
            width: 0;
        }
        .menu nav ul li a{
            margin-top: 40px;
            color: #fff;
        }
        .menu nav ul li a i, 
        .menu nav ul li a .iconify{
            width: 20px;
            display: inline-block;
            margin-right: 10px;
            color: #5ACF5F;
        }
        body{
            overflow-x: hidden;
        }

        .container-all{
            transition: all 300ms cubic-bezier(1,0,0,1);
        }

        .move-container-all{
            transform: translateX(300px);

    }
    }
    @media screen and (max-width: 500px){
        .games{
        grid-template-columns: repeat(2, 1fr);
        }
    }